.artikel-detail {
	h1 {
		color: #2e2e2e;
		font-size: 38px;
	    font-weight: 600;
	}
	.box-author {
		overflow: hidden;
		.media {
			.media-aside {
				img {
					width: 50px;
					border-radius: 50%;
				    border: 1px solid #e9e9e9;
				}
			}
			.media-body {
				padding-top: 14px;
				p.lead {
					color: #646464;
					font-size: 15px;
				    font-family: sans-serif;
					span {
						color: #f56565;
					}
				}
			}
		}
		
	}
  	.content-detail {
    	img {
      		width: 100%;
    	}
    	.sticky-share {
    		position: -webkit-sticky;
			position: sticky;
			top: 15px;
		    float: left;
		    width: fit-content;
		    margin-left: -70px;
			p {
				color: #000000;
				margin-bottom: 10px;
			}
			ul {
				list-style: none;
				padding-left: 0px;
			    line-height: normal;
			    li {
			    	a {
			    		.sosmed-share {
			    			width: 40px;
						    height: 40px;
						    padding: 10px;
						    margin: 10px 0;
						    text-align: center;
						    margin-bottom: 15px;
						    border-radius: 100px;
						    &.fb {
						    	background: $fb-color;
						    }
						    &.tw {
						    	background: $twitt-color;
						    }
						    &.wa {
						    	background: $wa-color;
						    }
						    svg {
					    		color: $color-white;
							    position: relative;
							    top: -1px;
					    	}
			    		}
			    	}
			    }
			}
    	}
  	}
  	@media screen and (max-width: 600px) {
  		h1 {
  			font-size: 27px;
			font-weight: 700;
  		}
  		p {
  			figure {
  				img {
  					height: 220px;
				    max-height: 100%;
				    border-radius: 0px;
  				}
  			}
  		}
	}
}